@model SIGEES.Web.Models.Bean.BeanItemTipoAcceso

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdCodigo" />
<input type="hidden" id="hdNombre" />
<input type="hidden" id="hdEstado" />
<input type="hidden" id="hdFila" />
<input type="hidden" id="hdColumna" />
<input type="hidden" id="hdCantidadRegistros" />

<div style="width: 99%; background-color: #D3EBDE; vertical-align: middle; padding-top: 2%; padding-bottom: 2%; padding-left: 1%">
    <center>
        <h2>Regla Cálculo Bono</h2>
    </center>
    <br />
    <div style="width: 100%">
        <table style="width:100%">
            <tr>
                <td style="width:10%">
                    <label class="colGridModal">Tipo Regla</label>
                </td>
                <td style="width:20%">
                    <input class="easyui-combobox" id="codigo_tipo_planilla" name="codigo_tipo_planilla" style="width: 95%" />
                </td>
                <td style="width:70%">&nbsp;</td>
            </tr>
        </table>
    </div>
    <br />
    <div style="width: 100%">
        @if (Model.estadoLectura.CompareTo("A") == 0)
        {
            <a href="javascript:GetAllJson()" id="btnBuscar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-search'">Buscar</a>
        }
        @if (Model.estadoEscritura.CompareTo("A") == 0)
        {
            <a href="javascript:Crear()" id="btnNuevo" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-add'">Crear</a>
        }
        @*@if (Model.estadoModificacion.CompareTo("A") == 0)
        {
            <a href="javascript:Modificar()" id="btnModificar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-edit'">Modificar</a>
        }*@
        @if (Model.estadoLectura.CompareTo("A") == 0)
        {
            <a href="javascript:void(0)" id="btnDetalle" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="disabled:true,iconCls:'icon-detail'">Detalle</a>
        }
        @if (Model.estadoEliminacion.CompareTo("A") == 0)
        {
            <a href="javascript:void(0)" id="btnDesactivar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="disabled:true,iconCls:'icon-cancel'">Desactivar</a>
        }
    </div>
</div>
<br />
<div style="width: 99%; padding-left: 1%">
    @if (Model.estadoLectura.CompareTo("A") == 0)
    {
        <table id="DataGrid" style="width: 100%"></table>
    }
</div>

<div id="dlgRegistro" class="easyui-dialog" data-options="modal:true,closed:true,buttons:'#divRegistroBotones'"
     style="width: 65%; height: 80%; padding:5px; line-height: 10px;">
</div>

<div id="dlgDetalle" class="easyui-dialog" data-options="modal:true,closed:true,buttons:'#divModificarBotones'"
     style="width: 65%; height: 80%; padding:5px; line-height: 10px;">
</div>

<script type="text/javascript" src="~/Areas/Comision/Scripts/Views/ReglaCalculoBono/project.ReglaCalculoBono.Index.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var indexUrls =
        {
            GetTipoPlanillaJson: '@Url.Action("GetTipoPlanillaJson", "ReglaCalculoBono", new { area = "Comision" })',
            GetAllJson: '@Url.Action("GetAllJson", "ReglaCalculoBono", new { area = "Comision" })',
            Desactivar: '@Url.Action("Desactivar", "ReglaCalculoBono", new { area = "Comision" })',
            Registro: '@Url.Action("_Registro", "ReglaCalculoBono", new { area = "Comision" })',
            Detalle: '@Url.Action("_Detalle", "ReglaCalculoBono", new { area = "Comision" })',
        };

        project.ReglaCalculoBonoIndex.Initialize(indexUrls);
    });
</script>

