@model SIGEES.Web.Models.Bean.BeanItemTipoAcceso

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdCodigo" />
<input type="hidden" id="hdCantidadRegistros" />

<div style="width: 99%; background-color: #D3EBDE; vertical-align: middle; padding-top: 2%; padding-bottom: 2%; padding-left: 1%">

    <center>
        <h2>Mantenimiento Tipo Pago - Listado</h2>
    </center>

    @if (Model.estadoLectura.CompareTo("A") == 0)
{
    <a href="javascript:void(0)" id="btnRefrescar" class="easyui-linkbutton" style="background-color: #252E3D; color: white; padding: 2px 15px 2px 15px; " data-options="plain:true,iconCls:'icon-search'">Buscar</a>
}
    @if (Model.estadoEscritura.CompareTo("A") == 0)
    {
        <a href="javascript:void(0)" id="btnNuevo" class="easyui-linkbutton" style="background-color: #252E3D; color: white; padding: 2px 15px 2px 15px; " data-options="plain:true,iconCls:'icon-add'">Crear</a>
    }
    @if (Model.estadoModificacion.CompareTo("A") == 0)
    {
        <a href="javascript:void(0)" id="btnModificar" class="easyui-linkbutton" style="background-color: #252E3D; color: white; padding: 2px 15px 2px 15px; " data-options="plain:true,iconCls:'icon-edit'">Modificar</a>
    }
    @if (Model.estadoEliminacion.CompareTo("A") == 0)
    {
        <a href="javascript:void(0)" id="btnEliminar" class="easyui-linkbutton" style="background-color: #252E3D; color: white; padding: 2px 15px 2px 15px; " data-options="plain:true,iconCls:'icon-cancel'">Desactivar</a>
    }
    @*@if (Model.estadoLectura.CompareTo("A") == 0)
    {
        <a href="javascript:void(0)" id="btnVisualizar" class="easyui-linkbutton" style="background-color: #252E3D; color: white; padding: 2px 15px 2px 15px; " data-options="plain:true,iconCls:'icon-search'">Detalle</a>
    }*@
</div>
<br />
<div style="width: 99%; padding-left: 1%">
    @if (Model.estadoLectura.CompareTo("A") == 0)
    {
        <table id="DataGrid" style="width: 100%"></table>
    }
</div>

@Html.Partial("_Registrar")
@Html.Partial("_Modificar")
@Html.Partial("_Visualizar")

@section scripts
{
    <script type="text/javascript" src="~/Areas/Comision/Scripts/Views/TipoPago/project.TipoPago.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var actionUrls =
            {
                GetRegistrosJSON: '@Url.Action("GetRegistrosJSON", "TipoPago")',
                GetRegistro: '@Url.Action("GetRegistro", "TipoPago")',
                Modificar: '@Url.Action("Modificar", "TipoPago")',
                Eliminar: '@Url.Action("Eliminar", "TipoPago")',
                Registrar: '@Url.Action("Registrar", "TipoPago")',
            };

            project.TipoPago.Initialize(actionUrls);

        });

    </script>
}