@model SIGEES.Web.Models.Bean.BeanItemTipoAcceso

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdCodigo" />
<input type="hidden" id="hdEstado" />
<input type="hidden" id="hdCantidadRegistros" />


<div style="width: 99%; background-color: #D3EBDE; vertical-align: middle; padding-top: 2%; padding-bottom: 2%; padding-left: 1%">
    <center>
        <h2>Regla de Pago Comision</h2>
    </center>
    <br />
    <div style="width: 99%; padding-left: 1%; ">
        <div class="panelGridIndex">
            @*<div class="rowGridIndex">
                    <label class="colGridModal">Empresa</label>
                    <input id="cmbEmpresa" class="easyui-combobox" name="cmbEmpresa" style="width:100%;" data-options="valueField: 'id' ,textField: 'text' ,editable:false ">
                </div>*@
            <div class="rowGridIndex">
                <label class="colGridModal">Canal de Venta</label>
                <input id="cmbCanalVenta" class="easyui-combobox" name="cmbCanalVenta" style="width:100%;" data-options="valueField: 'id' ,textField: 'text' ,editable:false ">
            </div>
            <div class="rowGridIndex">
                <label class="colGridModal">Tipo Venta</label>
                <input id="cmbTipoVenta" class="easyui-combobox" name="cmbTipoVenta" style="width:100%;" data-options="valueField: 'id' ,textField: 'text' ,editable:false ">
            </div>

            <div class="rowGridIndex">
                <label class="colGridModal">Tipo Artículo</label>
                <input id="cmbTipoArticulo" class="easyui-combobox" name="cmbTipoArticulo" style="width:100%;" data-options="valueField: 'id' ,textField: 'text' ,editable:false ">
            </div>
            <div class="rowGridIndex">
                <label class="colGridModal">Tipo Planilla</label>
                <input id="cmbTipoPlanilla" class="easyui-combobox" name="cmbTipoPlanilla" style="width:100%;" data-options="valueField: 'id' ,textField: 'text' ,editable:false ">
            </div>
        </div>
        <br />
        <div style="width: 100%">
            @if (Model.estadoLectura.CompareTo("A") == 0)
            {
                <a href="javascript:void(0)" id="btnRefrescar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-search'">Buscar</a>
            }
            @if (Model.estadoEscritura.CompareTo("A") == 0)
            {
                <a href="javascript:void(0)" id="btnNuevo" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-add'">Crear</a>
            }
            @if (Model.estadoLectura.CompareTo("A") == 0)
            {
                <a href="javascript:void(0)" id="btnDetalle" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-detail'">Detalle</a>
            }

            @if (Model.estadoLectura.CompareTo("A") == 0)
            {
                <a href="javascript:void(0)" id="btnModificar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-detail'">Modificar</a>
            }

            @if (Model.estadoEliminacion.CompareTo("A") == 0)
            {
                <a href="javascript:void(0)" id="btnEliminar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="disabled:true,iconCls:'icon-cancel'">Desactivar</a>
            }
        </div>

    </div>
</div>

<br />

<div style="width: 99%; padding-left: 1%">
    @if (Model.estadoLectura.CompareTo("A") == 0)
    {
        <table id="DataGrid" style="width: 100%"></table>
    }
</div>

<div id="div_registrar_regla" class="easyui-dialog" data-options="resizable:true,modal:true,closed:true,maximizable:true"
     style="width: 90%; height: 90%;line-height: 20px;"></div>

<div id="div_registrar_detalle" class="easyui-dialog" data-options="resizable:true,modal:true,closed:true,maximizable:true"
     style="width: 600px; height: 400px;line-height: 10px;"></div>


@*@Html.Partial("_Registrar")
    @Html.Partial("_Detalle_regla")
    @Html.Partial("_Meta_regla")*@


@section scripts
{
    <script type="text/javascript" src="~/Areas/Comision/Scripts/Views/ReglaPagoComision/project.ReglaPagoComision.Index.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        var actionUrls =
        {
            Listar: '@Url.Action("Listar", "ReglaPagoComision")',
            _ViewRegistrarRegla: '@Url.Action("_Registrar", "ReglaPagoComision")',
            _ViewRegistrarDetalleRegla: '@Url.Action("_Detalle_regla", "ReglaPagoComision")',
            _RegistrarDetalleReglaComision: '@Url.Action("RegistrarDetalleReglaComision", "ReglaPagoComision")',

            GetCanalGrupoJSON: '@Url.Action("GetCanalGrupoJSON", "ReglaPagoComision")',
            GetTipoVentaJSON: '@Url.Action("GetTipoVentaJSON", "ReglaPagoComision")',
            GetTipoPlanillaJSON: '@Url.Action("GetTipoPlanillaJSON", "ReglaPagoComision")',
            GetTipoArticuloJSON: '@Url.Action("GetTipoArticuloJSON", "ReglaPagoComision")',
            GetTipoArticuloJson: '@Url.Action("GetTipoArticuloJson", "ReglaPagoComision", new { area = "Comision" })',
            GetArticuloByTipoJson: '@Url.Action("GetArticuloByTipoJson", "ReglaPagoComision", new { area = "Comision" })',
            GetTipoComisionJson: '@Url.Action("GetTipoComisionJson", "ReglaPagoComision", new { area = "Comision" })'

        };

        project.ReglaPagoComision.Initialize(actionUrls);

    });

    </script>
}