@model SIGEES.Web.Areas.Comision.Models.ChecklistBonoViewModel
@{
    int codigo_planilla = Model.checklist.codigo_checklist;
    string fecha_actual = DateTime.Now.ToShortDateString();
    string tituloAuditoria = "";
    string fechaAuditoria = "";
    string usuarioAuditoria = "";
    string ocultarCheck = "";
    
    if (Model.checklist.codigo_estado_checklist== (int)SIGEES.Web.Areas.Comision.Utils.EstadoPlanilla.anulado)
    {
        tituloAuditoria = "Anulación";
        fechaAuditoria = Model.checklist.fecha_anulacion;
        usuarioAuditoria = Model.checklist.usuario_anulacion;
        ocultarCheck = "1";
    }
    else if (Model.checklist.codigo_estado_checklist == (int)SIGEES.Web.Areas.Comision.Utils.EstadoPlanilla.cerrado)
    {
        tituloAuditoria = "Cierre";
        fechaAuditoria = Model.checklist.fecha_cierre;
        usuarioAuditoria = Model.checklist.usuario_cierre;
        ocultarCheck = "1";
    }
    else
    {
        tituloAuditoria = "Cierre";
        if (!(Model.bean.estadoChecklistEscritura != null && Model.bean.estadoChecklistEscritura.CompareTo("A") == 0))
        {
            ocultarCheck = "1";
        }
    }
}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north', border:false" style="padding:5px;height:182px">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'center',border:false" style="width:100%">
                <div class="easyui-layout" data-options="fit:true">
                    <div class="easyui-panel" title="Datos Generales" style="width:99%; ">
                        <form id="fmr_registrar_planilla">
                            <div class="rowGridModalDouble" style="width:12%;">
                                <label class="colGridModal">N&uacute;mero CheckList</label>
                            </div>
                            <div class="rowGridModalDouble" style="width:15%;">
                                <input class="easyui-textbox" type="text" value="@Model.checklist.numero_checklist" style="width: 100%;" data-options="disabled:true" id="txt_numero_checklist" />
                            </div>
                            <div class="rowGridModalDouble" style="width:12%;">
                                <label class="colGridModal">Regla</label>
                            </div>
                            <div class="rowGridModalDouble" style="width:15%;">
                                <input class="easyui-textbox" type="text" value="@Model.checklist.nombre_regla" style="width: 100%;" data-options="disabled:true" id="txt_nombre_regla" />
                            </div>
                            <div class="rowGridModalDouble" style="width:12%;">
                                <label class="colGridModal">Estado</label>
                            </div>
                            <div class="rowGridModalDouble" style="width:15%;">
                                <input class="easyui-textbox" type="text" value="@Model.checklist.nombre_estado_checklist" style="width: 100%;" data-options="disabled:true" id="txt_nombre_estado_checklist" />
                            </div>
                        </form>
                    </div>
                    <div class="easyui-panel" title="Datos de Auditoria" style="width:99%; ">
                        <div class="rowGridModalDouble" style="width:12%;">
                            <label class="colGridModal">Fecha Apertura</label>
                        </div>
                        <div class="rowGridModalDouble" style="width:15%;">
                            <input class="easyui-textbox" type="text" value="@Model.checklist.fecha_apertura" style="width: 100%;" data-options="disabled:true" />
                        </div>
                        <div class="rowGridModalDouble" style="width:12%;">
                            <label class="colGridModal">Usuario</label>
                        </div>
                        <div class="rowGridModalDouble" style="width:42%;">
                            <input class="easyui-textbox" type="text" value="@Model.checklist.usuario_apertura" style="width: 100%;" data-options="disabled:true" />
                        </div>
                        <!--segunda linea-->
                        <div class="rowBoth"></div>
                        <div class="rowGridModalDouble" style="width:12%;">
                            <label class="colGridModal">Fecha @tituloAuditoria</label>
                        </div>
                        <div class="rowGridModalDouble" style="width:15%;">
                            <input class="easyui-textbox" type="text" value="@fechaAuditoria" style="width: 100%;" data-options="disabled:true" />
                        </div>
                        <div class="rowGridModalDouble" style="width:12%;">
                            <label class="colGridModal">Usuario</label>
                        </div>
                        <div class="rowGridModalDouble" style="width:42%;">
                            <input class="easyui-textbox" type="text" value="@usuarioAuditoria" style="width: 100%;" data-options="disabled:true" />
                        </div>
                    </div>
                </div>
            </div>
            <div data-options="region:'east',border:false" style="width:200px">
                <div class="easyui-panel" title="Opciones" style="width: 100%; ">
                    @if ((Model.checklist.codigo_estado_checklist == (int)SIGEES.Web.Areas.Comision.Utils.EstadoPlanilla.abierto) && (Model.bean.estadoChecklistEscritura != null && Model.bean.estadoChecklistEscritura.CompareTo("A") == 0))
                    {
                        <a href="javascript:GuardarChecklist();" class="easyui-linkbutton" iconcls="icon-save" style="text-align: left; padding: 2px 0px 2px 15px; width: 99%">Guardar Revisión</a>
                        <a href="javascript:CerrarChecklist(@Model.checklist.codigo_checklist);" class="easyui-linkbutton" iconcls="icon-ok" style="text-align: left; padding: 2px 0px 2px 15px; width: 99%">Cerrar CheckList</a>
                        <a href="javascript:AnularChecklist(@Model.checklist.codigo_checklist);" class="easyui-linkbutton" iconcls="icon-cancel" style="text-align: left; padding: 2px 0px 2px 15px; width: 99%">Anular CheckList</a>
                    }
                    @*@if ((Model.checklist.codigo_estado_checklist == (int)SIGEES.Web.Areas.Comision.Utils.EstadoPlanilla.cerrado) && (Model.bean.estadoChecklistEscritura != null && Model.bean.estadoChecklistEscritura.CompareTo("A") == 0))
                    {
                        <a href="javascript:EnviarTXT(@Model.checklist.codigo_checklist);" class="easyui-linkbutton" iconcls="icon-email" style="text-align: left; padding: 2px 0px 2px 15px; width: 99%">Enviar TXT</a>
                    }*@
                    <a href="javascript:CerrarRevision();" class="easyui-linkbutton" iconcls="icon-undo" style="text-align: left; padding: 2px 0px 2px 15px; width: 99%">Salir</a>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="padding:5px;">
        <div class="easyui-panel" title="Detalle" style="height:100%">
            <div class="easyui-tabs" style="height:100%" id="tabChecklist">
                <div title="Pendientes" style="padding:10px">
                    <table id="dg_detalle_pendiente" style="width:100%;height:100%"></table>
                </div>
                <div title="Revisados" style="padding:10px">
                    <table id="dg_detalle_validado" style="width:100%;height:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Areas/Comision/Scripts/Views/ChecklistBonoTrimestral/checklistbonotrimestral.planilla.js"></script>
<script type="text/javascript" src="~/Scripts/Aditional/datagrid-detailview.js"></script>
<script type="text/javascript" src="~/Scripts/Aditional/datagrid-groupview.js"></script>
<script type="text/javascript" src="~/Scripts/Aditional/datagrid-export.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var actionUrls =
        {
            _Anular: '@Url.Action("Anular", "ChecklistBonoTrimestral", new { area = "Comision" })',
            _Cerrar: '@Url.Action("Cerrar", "ChecklistBonoTrimestral", new { area = "Comision" })',
            _EnviarTXT: '@Url.Action("EnviarTXT", "ChecklistBonoTrimestral", new { area = "Comision" })',
            _GetDetalleJson: '@Url.Action("GetDetalleJson", "ChecklistBonoTrimestral", new { area = "Comision" })',
            _Validar: '@Url.Action("Validar", "ChecklistBonoTrimestral", new { area = "Comision" })',
            codigo_checklist: '@Model.checklist.codigo_checklist',
            numero_checklist: '@Model.checklist.numero_checklist',
            ocultar: '@ocultarCheck'
        };
        project.checklist.Initialize(actionUrls);
    });
</script>
