@model SIGEES.Entidades.detalle_cronograma_comision_dto
@{

    string fecha_actual = DateTime.Now.ToShortDateString();

}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding: 6px; width: 100%; ">
        <form id="frm_refinanciamiento_cuota_comision" method="post">

            <div class="panelGridModal">
                <div class="rowGridModal" style="width: 98%;">
                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Empresa</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        <input class="easyui-textbox"  value="@Model.nombre_empresa" style="width:100%;" data-options="disabled:true" />
                    </div>
                    <div class="rowGridModalDouble" style="width:15%;">
                        <label class="colGridModal">Nro. Contrato</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:20%;">
                        <input class="easyui-textbox" value="@Model.nro_contrato" style="width:100%;" data-options="disabled:true" />
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->
                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Artículo</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:71%;">
                        <input class="easyui-textbox" value="@Model.nombre_articulo" style="width:100%;" data-options="disabled:true" />
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->
                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Nro Cuota Contrato</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        <input class="easyui-textbox" value="@Model.nro_total_contrato" style="width:100%;" data-options="disabled:true" />
                    </div>
                    <div class="rowGridModalDouble" style="width:15%;">
                        <label class="colGridModal">Nro Cuota Libre</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:20%;">
                        <input class="easyui-textbox" value="@Model.nro_cuota_libre_refinanciar" style="width:100%;" data-options="disabled:true" />
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->
                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Comisión</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        <input class="easyui-textbox" id="txt_monto_comision" value="@Model.s_importe_sing_igv" style="width: 100%; text-align:right;" data-options="precision: 2,min:0,
                            required: true,novalidate:true,disabled:true" />
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->
                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">IGV</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        <input class="easyui-textbox" id="txt_monto_igv" value="@Model.s_igv" style="width: 100%; text-align: right;" data-options="precision: 2,min:0,
                            required: true,novalidate:true,disabled:true" />
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->
                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Comisión Total</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        <input class="easyui-textbox" id="txt_monto_total_comision" value="@Model.s_importe_comision" style="width: 100%; text-align: right;" data-options="precision: 2,min:0,
                            required: true,novalidate:true,disabled:true" />
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->

                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Monto a refinanciar</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        @{if (Model.codigo_estado_cuota == (int)SIGEES.Web.Areas.Comision.Utils.EstadoCuota.pendiente || Model.codigo_estado_cuota == (int)SIGEES.Web.Areas.Comision.Utils.EstadoCuota.en_proceso)
                        {
                            <input class="easyui-numberbox" id="txt_monto_financiar" value="" style="width: 100%; text-align: right;" data-options="precision: 2,
                                   min:0,required: false,novalidate:true" />
                        }
                        else
                        {

                            <input class="easyui-numberbox" id="txt_monto_financiar" value="" style="width: 100%; text-align: right;" data-options="precision: 2,
                                   min:0,required: false,novalidate:true,disabled:true" />
                        }
                        }
                    </div>
                    <div class="rowBoth"></div>
                    <!-------------------------------->

                    <div class="rowGridModalDouble" style="width:20%;">
                        <label class="colGridModal">Nro. Cuota</label>
                    </div>

                    <div class="rowGridModalDouble" style="width:30%;">
                        @{if (Model.codigo_estado_cuota == (int)SIGEES.Web.Areas.Comision.Utils.EstadoCuota.pendiente || Model.codigo_estado_cuota == (int)SIGEES.Web.Areas.Comision.Utils.EstadoCuota.en_proceso)
                        {
                            <input class="easyui-numberbox" id="txt_numero_cuota" value="" style="width: 100%; text-align: right;" data-options="precision: 0,min:0,max:100,
                            required: false,novalidate:true" />
                        }
                        else
                        {
                            <input class="easyui-numberbox" id="txt_numero_cuota" value="" style="width: 100%; text-align: right;" data-options="precision: 0,min:0,
                            required: false,novalidate:true,disabled:true" />
                        }}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0 0;">

        <div data-options="region:'south'" style="text-align:right;height:30px">
            @{
                if (Model.codigo_estado_cuota == (int)SIGEES.Web.Areas.Comision.Utils.EstadoCuota.pendiente || Model.codigo_estado_cuota == (int)SIGEES.Web.Areas.Comision.Utils.EstadoCuota.en_proceso)
                {
                    <a href="javascript:fnRegistrarRefinanciamiento(@Model.codigo_detalle_cronograma);" class="easyui-linkbutton" iconcls="icon-save" id="btnCancelar">Guardar</a>
                }
                else
                {
                    <label class="colGridModal" style="color:red;">Refinanciamiento de cuota deshabilitado</label>
                }

            }

            <a href="javascript:cerrar_refinanciamiento();" class="easyui-linkbutton" iconcls="icon-cancel" id="btnCancelar">Cerrar</a>
        </div>
    </div>

</div>

<script type="text/javascript">
    var v_importe_maximo = '@Model.importe_comision';
    var v_nro_maximo_financiar = '@Model.nro_cuota_libre_refinanciar';
    $(document).ready(function () {

        $("#txt_monto_financiar").numberbox({
            validType: 'validarMontoEntre[' + v_importe_maximo + ']'
        });

        $("#txt_numero_cuota").numberbox({
            max:v_nro_maximo_financiar,
            validType: 'validarMontoEntre[' + v_nro_maximo_financiar + ']'
        });
    });
    function cerrar_refinanciamiento() {
        $("#div_cuota_comision").dialog("close");
    }
    function fnRegistrarRefinanciamiento(p_codigo_detalle_cronograma) {
        $("#txt_monto_financiar").numberbox({ required: false });
        $("#txt_numero_cuota").numberbox({ required: false });
        debugger;
        var v_monto_financiar = $.trim($("#txt_monto_financiar").numberbox("getValue"));

        var v_nro_cuota_financiar = $.trim($("#txt_numero_cuota").numberbox("getValue"));

        if (v_monto_financiar == "" && v_nro_cuota_financiar == "") {
            $("#txt_monto_financiar").numberbox({ required: true });
            $("#txt_numero_cuota").numberbox({ required: true });
        }

        if (v_monto_financiar > 0) {
            $("#txt_monto_financiar").numberbox({ required: true });

        }
        else {
            v_monto_financiar = 0;
        }
        if (v_nro_cuota_financiar > 0) {
            $("#txt_numero_cuota").numberbox({ required: true });
        }
        else {
            v_nro_cuota_financiar = 0;
        }





        if (!$("#frm_refinanciamiento_cuota_comision").form('enableValidation').form('validate'))
            return;

        if (v_monto_financiar == 0 && v_nro_cuota_financiar == 0) {
            $.messager.alert('Error en registrar', 'Ingrese Monto  a Financiar o Nro. de cuota', 'warning');
            return;
        }
        
        if (v_monto_financiar == 0 && v_nro_cuota_financiar==1)
        {
            $.messager.alert('Error en registrar', 'El nro de cuota debe ser mayor que 1.', 'warning');
            return;
        }

        if (v_monto_financiar == v_importe_maximo && v_nro_cuota_financiar == 1) {
            $.messager.alert('Error en registrar', 'El nro de cuota debe ser mayor que 1.', 'warning');
            return;
        }


        if (v_monto_financiar==0)
        {
            v_monto_financiar = v_importe_maximo;
        }
        if (v_nro_cuota_financiar==0)
        {
            v_nro_cuota_financiar = 1;
        }
        
       

        var pEntidad = {
            codigo_detalle_cronograma: p_codigo_detalle_cronograma,
            importe_comision: parseFloat(v_monto_financiar),
            nro_cuota: v_nro_cuota_financiar

            //importe_comision: parseFloat($("#txt_monto_financiar").numberbox('getValue')),
            //nro_cuota: $("#txt_numero_cuota").numberbox('getValue')

        };
        console.log(pEntidad);

        $.messager.confirm('Confirmaci&oacute;n', '¿Est&aacute; seguro que desea refinanciar la cuota?', function (result) {
            if (result) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("_Refinanciar_Cuota", "Planilla", new { area = "Comision" })',
                    data: pEntidad,
                    async: false,
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.v_resultado == 1) {
                            $.messager.alert('Operación exitosa', data.v_mensaje, 'info', function () {
                                $("#div_cuota_comision").dialog("close");
                                fnReloadDetallePagoComision();
                               // fnReloadContratoArticulo();
                                fnFiltrarPlanilla();
                            });
                        }
                        else {
                            $.messager.alert('Error en registrar', data.v_mensaje, 'error');
                        }
                    },
                    error: function () {
                        $.messager.alert('Error', "Error en el servidor", 'error');
                    }
                });
            }
        });
    }


</script>












